<!-- app/views/users/new_user.html.erb -->
<h1>Create a New Doctor User</h1>

<%= form_for @user, url: create_user_path do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :contact %>
  <%= f.text_field :contact %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.fields_for :doctor_detail do |doc_detail_fields| %>
    <%= doc_detail_fields.label :regno %>
    <%= doc_detail_fields.text_field :regno %>

    <%= doc_detail_fields.label :department_id %>
    <%= doc_detail_fields.collection_select :department_id, Department.all, :id, :name %>

    <%= doc_detail_fields.label :start_time %>
    <%= doc_detail_fields.time_field :start_time %>

    <%= doc_detail_fields.label :end_time %>
    <%= doc_detail_fields.time_field :end_time %>

    <%= doc_detail_fields.label :required_time_slot %>
    <%= doc_detail_fields.number_field :required_time_slot %>

    <%= doc_detail_fields.label :qualification %>
    <%= doc_detail_fields.text_field :qualification %>
  <% end %>

  <%= f.submit "Create User" %>
<% end %>
