<h1>User Details</h1>
<div>
    <p><strong>ID:</strong> <%= @user.id %> </p>
    <p><strong>Name:</strong> <%= @user.first_name %> </p>
    <p><strong>Name:</strong> <%= @user.last_name %> </p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Contact:</strong> <%= @user.contact %></p>
    <p><strong>Role:</strong> <%= @user.role %></p>
</div>
