<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h6>Hi <%="#{current_user.first_name} #{current_user.last_name} !"%></h6>
            <hr>
           <a href="/admin_dashboard" style="text-decoration:none; color:white"> <h5>Admin Dashboard</h5></a>
        </div>

        <ul class="list-unstyled components">
             
            <li>
                <%= link_to departments_path, style: "text-decoration:none" do %>
                    <%= image_tag("/images/building.png", alt: "not loaded", style: "width: 30px; margin-left: 5px;") %>
                    Departments
                <% end %>
            </li>

            <li class>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="text-decoration:none">
                    <%= image_tag("/images/doctor.png", alt: "not loaded", style: "width: 30px; margin-left: 5px;text-decoration:none") %> 
                    Doctor
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <%= link_to doctors_path, style: "text-decoration:none" do %>
                            <%= image_tag("/images/medical-team.png", alt: "not loaded", style: "width: 20px; margin-right: 5px;") %>
                            All Doctors
                        <% end %>
                    </li>
                    <li>
                        <%= link_to new_doctor_users_path, style: "text-decoration:none" do %>
                            <%= image_tag("/images/doctor.png", alt: "not loaded", style: "width: 20px; margin-right: 5px;") %>
                            Add Doctor
                       <%end%>
                    </li>
                </ul>
            </li>
           
            <li>
                <a href="#pageSubmenu1" style="text-decoration:none" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <%= image_tag("/images/patient.png", alt: "not loaded", style: "width: 30px; margin-left: 5px;") %> IPD Section
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu1">
                    <li>
                        <%= link_to beds_path, style: "text-decoration:none" do %>
                            <%= image_tag("/images/examination (1).png", alt: "not loaded", style: "width: 20px; margin-right: 5px;") %>
                            Beds
                        <%end%>
                    </li>
                    <li>
                        <%= link_to patients_path, style: "text-decoration:none" do %>
                            <%= image_tag("/images/examination.png", alt: "not loaded", style: "width: 20px; margin-right: 5px;") %>
                            Patients
                        <%end%>
                    </li>   
                    <li>
                         <%= link_to ipds_path, style: "text-decoration:none" do %>
                            <%= image_tag("/images/bed.png", alt: "not loaded", style: "width: 20px; margin-right: 5px;") %>
                            IPD
                        <%end%>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="text-decoration:none">
                   <%= image_tag("/images/advice.png", alt: "not loaded", style: "width: 30px; margin-right: 5px;") %> Appointments
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <%= link_to appointments_path, style: "text-decoration:none" do %>
                            <%= image_tag("/images/advice.png", alt: "not loaded", style: "width: 20px; margin-right: 5px;") %>
                            All Appointments
                        <%end%>
                    </li>
                </ul>
            </li>

        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="" class="article">Support</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <%=yield %>
    </div>
</div>

<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
