<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h6>Hi <%="#{current_user.first_name} #{current_user.last_name} !"%></h6>
            <h6>Admin Dashboard</h6>
        </div>

        <ul class="list-unstyled components">
             <li>
                <%= link_to " Departments", departments_path, class: "nav-link"%>
            </li>
            <li class>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-home"></i> Doctor</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        
                        <i class="fas fa-users"></i> <%= link_to " All Doctors","/doctors", class: "nav-link" %>
                    </li>
                    <li>
                        <%= link_to " Add Doctor", new_doctor_users_path, class:"nav-link" %>
                    </li>
                </ul>
            </li>
           
            
            <li>
                <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-file"></i> IPD Section
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu1">
                    <li>
                        <%= link_to " Beds","/beds", class: "nav-link" %>
                    </li>
                    <li>
                        <%= link_to " Patients","/patients", class: "nav-link" %>
                    </li>
                    <li>
                        <%= link_to " IPD","/ipds", class: "nav-link" %>
                    </li>
                  
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-file"></i> Appointments
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <%= link_to " All Appointments",appointments_path, class: "nav-link" %>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-file"></i> .</a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-file"></i> .</a>
                    </li>
                </ul>
            </li>

        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="" class="article">Support</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <%=yield %>
    </div>
</div>

<!-- jQuery, Popper.js, Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
